@c1: #FFFFFF;
@degrade: @c1 / 10;
@c2: @c1 - @degrade;
@c3: @c2 - @degrade;
@c4: @c3 - @degrade;
@c5: @c4 - @degrade;
@c6: @c5 - @degrade;
@c7: @c6 - @degrade;
@c8: @c7 - @degrade;
@c9: @c8 - @degrade;
@c10: #000000;

@col_max: 700px;
@desktop: 2*@col_max;

@font: 13pt Helvetica, sans-serif;

@border: 1px solid @c5;

@line-heigth: 50px;

.menubuttons {color: @c8; min-width:@line-heigth; height: @line-heigth; border-right: @border; border-left: @border; cursor: default;}
p {margin: 0em;}
body html {width:100%; height: 100%;}
body {margin: 0px; font: @font; color: @c9;}
a.ohne {color: @c8; text-decoration: none;}

.menu {position:fixed; width: 100%; top:-100px;
 transition: top 300ms ease-out; z-index: 100;}
.menu.menu_unfold {top:0px !important;}

.header {height:@line-heigth; background: linear-gradient(@c2, @c3); 
border-bottom: @border; text-align:center;}

div.title {display: inline; padding: 0 25px;}
div.but_back {.menubuttons; float:left; font-size: 1.5em; line-height: 1.5em;}
div.but_menu {.menubuttons; float:right; font-size: 2em;}
div.nav_button {float:right; cursor: default; margin: 5px; padding: 0.25em 5px; color: @c8; border: @border; border-radius: 10px; display: none;}
div.nav_button:hover {background: @c2;}
.headertitle {display:inline;}

.content {position:absolute; max-width: @col_max; width: 100%; height: 100%; border-left: @border; border-right: @border; overflow-y: auto;} 
div.content {.content; left: 0px;}
div.content2 {.content; right: -100%;}
div.content3 {.content; right: -200%;}

.search { height:@line-heigth; margin-top:@line-heigth; left: 0px; right:0px; border-bottom: @border; text-align:center;}

.list {}
.listitem {height:@line-heigth; padding: 0 5px; background: linear-gradient(@c1, @c1 - @degrade/2); 
border-bottom: @border; text-align:center;}
.li_head {margin: 5px; font-size: 2em; float:left; color: @c5}
.li_content {margin: 5px; float:left; text-align: left;}
.li_firstline {}
.li_secondline {color: @c5;}
.listitem:hover {background: @c1;}

@media only screen and (min-width: @col_max){
    .content {width: 50%;}
    div.content {.content;}
    div.content2 {.content; left: 50%;}
    div.content3 {.content; right: -50%;}
    .header {padding-right: 5px;}
    div.but_menu {display: none;}
    div.nav_button {display: block}
}

@media only screen and (min-width: @desktop){
    .content {width: 33%}
    div.content {.content;}
    div.content2 {.content; left: 33%;}
    div.content3 {.content; left: 66%; width: 34%;}
    .header {padding-right: 5px;}
    div.but_menu {display: none;}
    div.nav_button {display: block}
}
