.menubuttons {
  min-width: 50px;
  height: 50px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
p {
  margin: 0em;
}
body {
  margin: 0px;
  width: 100%;
  font: 13pt Helvetica, sans-serif;
}
a.ohne {
  color: #4d4d4d;
  text-decoration: none;
}
.menu {
  position: fixed;
  width: 100%;
  top: -100px;
  transition: top 400ms ease-out;
  z-index: 100;
}
.menu.menu_unfold {
  top: 0px !important;
}
.header {
  height: 50px;
  background: linear-gradient(#ffffff, #e6e6e6);
  border-bottom: 1px solid #999999;
  text-align: center;
}
div.title {
  display: inline;
  padding: 0 25px;
}
.but_back {
  min-width: 50px;
  height: 50px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  float: left;
  font-size: 1.5em;
  line-height: 1.5em;
}
.but_menu {
  min-width: 50px;
  height: 50px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  float: right;
  font-size: 2em;
}
.headertitle {
  display: inline;
}
div.content {
  position: absolute;
  max-width: 700px;
  width: 100%;
  left: 0px;
  top: 50px;
}
.search {
  height: 50px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #999999;
  text-align: center;
}
.listitem {
  height: 50px;
  background: linear-gradient(#ffffff, #f2f2f2);
  border-bottom: 1px solid #999999;
  text-align: center;
}
@media only screen and (orientation: landscape), only screen and (min-device-width: 700px) {
  img {
    height: 180px;
  }
}
@media only screen and (min-device-width: 700px) and (orientation: landscape) {
  img {
    height: 130px;
  }
}
@media only screen and (min-device-width: 999px) {
  img {
    height: 130px;
  }
}
