<?php

   class Configuration {

      const MODULE_FOLDER = "/var/www/localhost/htdocs/MeoRace/page/";
      const DB_HOST = "localhost"; 
      const DB_NAME = "meoRace"; 
      const DB_USER = "meoRace"; 
      const DB_PASSWORD = "meoRace"; 
      const IMAGE_UPLOAD_FOLDER ="imageUpload/";
      const CURRENT_RACE = -1;
      const TV_SIZE = 10;
      const GUEST_USER_ID = -1;
   }


?>
