/* CSS reset */
/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of CSS Reset*/
@font-face {
  font-family: 'icomoon';
  src: url('../../icons/icomoon/fonts/icomoon.eot?77g9ef');
  src: url('../../icons/icomoon/fonts/icomoon.eot?#iefix77g9ef') format('embedded-opentype'), url('../../icons/icomoon/fonts/icomoon.woff?77g9ef') format('woff'), url('../../icons/icomoon/fonts/icomoon.ttf?77g9ef') format('truetype'), url('../../icons/icomoon/fonts/icomoon.svg?77g9ef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ****** gianfett temporary ******* */
img {
  width: 100%;
}
h1 {
  color: #ffffff;
  text-align: center;
  padding: 0px 15px;
  background-color: #333333;
  text-transform: uppercase;
  font-style: 12pt 'Open Sans', Helvetica, sans-serif;
}
h1.sub {
  color: #cccccc;
  text-transform: none;
  font-size: 0.6em;
}
html,
body {
  height: 100%;
  background: #f7f7f7;
  font-style: 12pt 'Open Sans', Helvetica, sans-serif;
}
ul {
  border-top: 1px solid #e6e6e6;
}
li {
  height: 49px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  clear: both;
  position: relative;
}
.top_content_wrapper {
  height: 66px;
  text-align: center;
  text-transform: uppercase;
}
.top_info_wrapper {
  height: 49px;
  margin: 0 15px;
  position: relative;
  top: 9.5px;
  text-transform: none;
}
.bottom_content_wrapper {
  margin: 0 15px 0 15px ;
}
.left_info,
.right_info {
  height: 49px;
  width: 49px;
}
.left_info {
  position: absolute;
  overflow: hidden;
  border-radius: 50px;
}
.left_info > img {
  width: 100%;
  margin-top: -6px;
}
.middle_info {
  height: 49px;
  margin: 0px 72px 0 49px;
  padding: 0 10px;
  text-align: left;
}
.middle_info p.title {
  font-size: 1.2em;
  color: #333333;
  letter-spacing: 1px;
}
.middle_info p.description {
  font-size: 1em;
  color: #b3b3b3;
}
.middle_info .title,
.middle_info .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.right_info {
  position: absolute;
  right: 0px;
  top: 5px;
}
.right_info .rider_number {
  font-size: 3em;
  font-weight: lighter;
  color: #b3b3b3;
  float: right;
  display: block;
  letter-spacing: 1px;
  margin-top: -6px;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}
#manifest_detail table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
tr {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
}
tr.tableheader {
  background-color: #f7f7f7;
}
th,
td {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
}
th {
  background-color: #f7f7f7;
  vertical-align: middle;
  color: #808080;
  font-family: 'icomoon';
  font-size: 1em;
  vertical-align: middle;
}
th.task_manifest {
  background-image: url(../../icons/document127.png);
  background-size: 24px;
}
th.checkpoint_name_first:before {
  content: "\e604";
}
th.parcel_name:before {
  content: "\e602";
}
th.checkpoint_name_second:before {
  content: "\e603";
}
th.task_status.task_completed {
  background-color: #71c671;
}
th.task_status.task_possible {
  background-color: #ffff00;
}
th.task_status.task_notpossible {
  background-color: #ff0000;
}
th.task_number:before {
  content: "\e600";
  font-family: 'icomoon';
}
th.manifest_points {
  background-image: url(../../icons/coins16.png);
  background-size: 30px;
}
th.manifest_description {
  background-image: url(../../icons/information33.png);
  background-size: 20px;
}
th.manifest_edit {
  width: 49px;
}
th.manifest_configure {
  width: 49px;
}
th.manifest_delete {
  width: 49px;
}
td.drilldown:after {
  content: "\e60f";
  font-family: 'icomoon';
  color: #999999;
  vertical-align: middle;
  font-size: 1.8em;
}
td.manifest_edit {
  background-image: url(../../icons/pencil44.png);
  background-size: 20px;
}
td.manifest_configure {
  background-image: url(../../icons/settings39.png);
  background-size: 20px;
}
td.manifest_delete {
  background-image: url(../../icons/delete30.png);
  background-size: 32px;
}
.indicator {
  color: #ffffff;
  border-radius: 20px;
}
tr.no_action {
  color: #999999;
}
div.indicator_pos {
  color: #ffffff;
  border-radius: 20px;
  background-color: #71c671;
}
div.indicator_current {
  color: #ffffff;
  border-radius: 20px;
  background-color: #4d4d4d;
}
#main_navigation .left_info {
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0;
}
.racer_list_navigation {
  background-image: url(../../icons/cyclist.png);
}
.configure_race_navigation {
  background-image: url(../../icons/gear1.png);
}
.configure_parcel_navigation {
  background-image: url(../../icons/close13.png);
}
.checkpoint_list_navigation {
  background-image: url(../../icons/information33.png);
}
.user_list_navigation {
  background-image: url(../../icons/call37.png);
  background-size: 35px;
}
li {
  padding: 5px 0;
}
#main_navigation .right_info {
  background-image: url(../../icons/play45.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}
.left_info.racer_racing {
  border: 3px solid #71c671;
}
.left_info.racer_finished {
  border: 3px solid blue;
}
.left_info.racer_registered {
  border: 3px solid red;
}
.new_button {
  color: #ffffff;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  background-color: #71C671;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
}
#racerlist_racer .right_info .rider_number::after,
#racerlist_racertask .right_info .rider_number::after {
  content: "\e60f";
  font-family: 'icomoon';
  color: #999999;
  font-size: 0.6em;
}
#rankingoverview_ranking li {
  height: 66px;
}
#rankingoverview_ranking .middle_info {
  height: 48px;
}
#rankingoverview_ranking .middle_info.racer_ranking_points {
  height: 22px;
  line-height: 0.9em;
  color: #999999;
}
#rankingoverview_ranking .title {
  font-size: 1.1em;
}
#rankingoverview_ranking p.description {
  font-size: 0.9em;
}
span.racer_ranking {
  margin-right: 8px;
}
span.racer_ranking::before {
  content: "\e608";
  font-family: 'icomoon';
  color: #999999;
  margin-right: 5px;
  font-size: 0.9em;
}
span.racer_points::before {
  content: "\e601";
  font-family: 'icomoon';
  color: #999999;
  margin-right: 3px;
  font-size: 0.9em;
}
#rankingoverview_ranking .right_info .rider_number::after {
  content: "\e60f";
  font-family: 'icomoon';
  color: #999999;
  font-size: 0.6em;
}
#raceredit_racer .top_content_wrapper.registration {
  height: 132px;
}
#raceredit_racer .top_content_wrapper.registration .top_info_wrapper {
  height: 99px;
  position: relative;
  top: 22px;
}
#raceredit_racer .top_content_wrapper.registration .top_info_wrapper .left_info {
  height: 99px;
  width: 99px;
}
#raceredit_racer .top_content_wrapper.registration .top_info_wrapper .middle_info {
  margin: 0 84px 0 99px;
}
#raceredit_racer .top_content_wrapper.registration .top_info_wrapper .right_info {
  float: left;
}
input {
  display: block;
  font-size: 16px;
  line-height: normal;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding: 15px 0px;
  color: black;
  background-color: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input[type="submit"] {
  color: #ffffff;
  margin: 15px auto;
  border-radius: 5px;
  border: none;
  background-color: #71C671;
  text-transform: uppercase;
  width: 93%;
}
input[name="login"] {
  margin: 15px 0;
  width: 100%;
}
input[type="search"] {
  -webkit-appearance: none;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 15px 3px;
  line-height: normal;
  height: 49px;
}
.select_status,
.select_racernumber,
.select_manifestnumber {
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  color: #cccccc;
}
input[type="file"] {
  display: block;
  width: 88px;
  height: 99px;
  margin: 0;
  position: relative;
  top: 10px;
  padding-left: 5px;
}
.photo_upload {
  z-index: 1;
  width: 99px;
  height: 99px;
  pointer-events: none;
  position: absolute;
  top: 0;
  overflow: hidden;
  border: 1px dashed #999999;
  border-radius: 50px;
  background-color: #f5f5f5;
}
#tasklist .middle_info {
  padding-left: 0;
}
#tasklist .middle_info .title {
  background-image: url(../../icons/pencil44.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 70px;
}
#racertask_racertask .top_content_wrapper {
  height: 88px;
}
#racertask_racertask .top_info_wrapper,
#racertask_racertask .right_info {
  height: 66px;
}
#racertask_racertask img {
  margin-top: -9px;
}
#racertask_racertask .left_info {
  height: 66px;
  width: 66px;
}
#racertask_racertask .middle_info {
  height: 49px;
  margin-left: 66px;
}
#racertask_racertask .middle_info.racer_ranking_points {
  height: 22px;
  line-height: 0.9em;
  color: #999999;
}
#racertask_racertask tr {
  height: 49px;
}
#racertask_racertask tr.tableheader {
  height: 29px;
  font-size: 1.2em;
}
#racertask_racertask tr td {
  vertical-align: middle;
}
#racertask_racertask tr td.drilldown {
  font-family: 'icomoon';
  text-align: right;
}
#racertask_racertask tr td.goto_arrow:after {
  content: "\e60f";
  font-family: 'icomoon';
  vertical-align: middle;
}
#racertask_racertask tr td.task_number {
  border-radius: 50px;
  overflow: hidden;
  color: #ffffff;
  font-weight: bold;
  background-color: #cccccc;
  width: 49px;
  height: 49px;
}
p.parcel_number {
  height: 66px;
  padding: 6px 20px;
  font-size: 1.5em;
}
p.racer_checkpointlist_heading,
p.racer_tasklist_heading {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
}
#racerdispatch_dispatch li {
  height: 66px;
}
#racerdispatch_dispatch li .left_info {
  height: 66px;
  width: 66px;
}
#racerdispatch_dispatch li .left_info .manifest_number {
  height: 66px;
  width: 66px;
  padding-top: 15px;
}
#racerdispatch_dispatch li .right_info,
#racerdispatch_dispatch li img {
  height: 66px;
}
#racerdispatch_dispatch li .middle_info {
  height: 66px;
  margin-left: 66px;
}
#tasklist_race .manifest_number,
#taskdispatch_dispatch .manifest_number,
#racertask_racertask .manifest_number,
#ranking_detail_tasks .manifest_number,
#racerdispatch_dispatch .manifest_number {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  background-color: #cccccc;
  display: block;
  width: 49px;
  height: 49px;
  text-align: center;
  padding-top: 6px;
}
#tasklist_race .manifest_number.manifest_completed,
#taskdispatch_dispatch .manifest_number.manifest_completed,
#racertask_racertask .manifest_number.manifest_completed,
#ranking_detail_tasks .manifest_number.manifest_completed,
#racerdispatch_dispatch .manifest_number.manifest_completed {
  background-color: #71c671;
}
#tasklist_race .manifest_number.manifest_possible,
#taskdispatch_dispatch .manifest_number.manifest_possible,
#racertask_racertask .manifest_number.manifest_possible,
#ranking_detail_tasks .manifest_number.manifest_possible,
#racerdispatch_dispatch .manifest_number.manifest_possible {
  background-color: #ffff00;
}
#tasklist_race .manifest_number.manifest_unreachable,
#taskdispatch_dispatch .manifest_number.manifest_unreachable,
#racertask_racertask .manifest_number.manifest_unreachable,
#ranking_detail_tasks .manifest_number.manifest_unreachable,
#racerdispatch_dispatch .manifest_number.manifest_unreachable {
  background-color: #ff0000;
}
#tasklist_race .right_info,
#taskdispatch_dispatch .right_info,
#racertask_racertask .right_info,
#ranking_detail_tasks .right_info,
#racerdispatch_dispatch .right_info {
  text-align: left;
  width: 49px;
  margin-right: 0px;
  position: absolute;
  right: 0px;
  top: 8px;
}
#tasklist_race .right_info .manifest_points:before,
#taskdispatch_dispatch .right_info .manifest_points:before,
#racertask_racertask .right_info .manifest_points:before,
#ranking_detail_tasks .right_info .manifest_points:before,
#racerdispatch_dispatch .right_info .manifest_points:before {
  content: "\e601";
  font-family: 'icomoon';
  color: #999999;
  margin-right: 6px;
  font-size: 1em;
}
#tasklist_race .right_info .manifest_maxduration:before,
#taskdispatch_dispatch .right_info .manifest_maxduration:before,
#racertask_racertask .right_info .manifest_maxduration:before,
#ranking_detail_tasks .right_info .manifest_maxduration:before,
#racerdispatch_dispatch .right_info .manifest_maxduration:before {
  content: "\e606";
  font-family: 'icomoon';
  color: #999999;
  margin-right: 6px;
  font-size: 1em;
}
#tasklist_race .right_info .rider_number,
#taskdispatch_dispatch .right_info .rider_number,
#racertask_racertask .right_info .rider_number,
#ranking_detail_tasks .right_info .rider_number,
#racerdispatch_dispatch .right_info .rider_number {
  margin-top: -8px;
}
#actionconfirm_racertask .top_content_wrapper,
#taskedit_race .top_content_wrapper {
  margin-bottom: 10px;
}
#actionconfirm_racertask .manifest_number,
#taskedit_race .manifest_number {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  background-color: #cccccc;
  display: block;
  width: 49px;
  height: 49px;
  text-align: center;
  padding-top: 6px;
}
#actionconfirm_racertask .right_info,
#taskedit_race .right_info {
  text-align: left;
  width: 72px;
  margin-right: 20px;
}
#actionconfirm_racertask .right_info .manifest_points:before,
#taskedit_race .right_info .manifest_points:before {
  content: "\e601";
  font-family: 'icomoon';
  color: #999999;
  margin-right: 6px;
  font-size: 1em;
}
#actionconfirm_racertask .right_info .manifest_maxduration:before,
#taskedit_race .right_info .manifest_maxduration:before {
  content: "\e606";
  font-family: 'icomoon';
  color: #999999;
  margin-right: 6px;
  font-size: 1em;
}
#actionconfirm_racertask ul,
#taskedit_race ul {
  margin: 10px 0 40px 0;
}
#actionconfirm_racertask ul li,
#taskedit_race ul li {
  padding: 5px 0;
  border-bottom: none;
  background-color: #ffffff;
}
#actionconfirm_racertask ul li .right_info,
#taskedit_race ul li .right_info {
  background-color: #71c671;
  margin-right: 5px;
}
#actionconfirm_racertask ul li .right_info p:before,
#taskedit_race ul li .right_info p:before {
  content: "\e60a";
  font-family: 'icomoon';
  color: #ffffff;
  font-size: 2em;
  position: absolute;
  top: 8px;
  left: 20px;
}
p.racer_checkpointlist_heading.manifest_detail_heading {
  margin-bottom: 10px;
}
#actionconfirm_racertask table {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-spacing: 0;
}
#actionconfirm_racertask table th.task_status {
  width: 5%;
}
#actionconfirm_racertask table th.task_number {
  width: 15%;
}
#actionconfirm_racertask table th.checkpoint_name_first,
#actionconfirm_racertask table th.checkpoint_name_second {
  width: 25%;
}
#actionconfirm_racertask table th.parcel_name {
  width: 10%;
}
#actionconfirm_racertask table th.goto_arrow {
  width: 10%;
}
#actionconfirm_racertask table th,
#actionconfirm_racertask table td {
  text-align: left;
  vertical-align: middle;
  padding: 2px 0;
}
#actionconfirm_racertask table th.task_requirements {
  color: red;
  padding-left: 15px;
  background-color: #f7f7f7;
  opacity: 0.5;
}
#actionconfirm_racertask table th.task_requirements.no_requirements {
  color: #000;
}
#actionconfirm_racertask table th.task_status.task_completed {
  background-color: #71c671;
}
#actionconfirm_racertask table th.task_status.task_possible {
  background-color: #ffff00;
}
#actionconfirm_racertask table th.task_status.task_unreachable {
  background-color: #ff0000;
}
#actionconfirm_racertask table td.task_number {
  font-size: 2em;
  color: #CCC;
  padding-left: 15px;
}
#actionconfirm_racertask table td.checkpoint_name_first,
#actionconfirm_racertask table td.checkpoint_name_second {
  text-align: left;
}
/* End of gianfett CSS */
.menubuttons {
  color: #cccccc;
  min-width: 49px;
  height: 49px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  cursor: default;
}
p {
  margin: 0em;
}
body html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  font: 12pt 'Open Sans', Helvetica, sans-serif;
  color: #333333;
}
a.ohne {
  color: #4d4d4d;
  text-decoration: none;
}
.menu {
  position: fixed;
  width: 100%;
  top: 0px;
  transition: top 300ms ease-out;
  z-index: 100;
}
.menu.menu_unfold {
  top: 0px !important;
}
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  height: 49px;
  background: #333333;
  border-bottom: 1px solid #999999;
  text-align: center;
}
div.title {
  padding: 5px 25px;
}
div.but_back {
  color: #cccccc;
  min-width: 49px;
  height: 49px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  cursor: default;
  float: left;
  font-size: 1.5em;
  line-height: 1.5em;
}
div.but_menu {
  color: #cccccc;
  min-width: 49px;
  height: 49px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  cursor: default;
  float: right;
  font-size: 1em;
}
.headertitle {
  display: inline;
}
.content {
  position: absolute;
  min-width: 260px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  overflow-y: auto;
  transition: width 1200ms ease, left 1200ms ease;
}
div.content0 {
  position: absolute;
  min-width: 260px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  overflow-y: auto;
  transition: width 1200ms ease, left 1200ms ease;
  left: 0%;
}
div.content1 {
  position: absolute;
  min-width: 260px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  overflow-y: auto;
  transition: width 1200ms ease, left 1200ms ease;
  left: 25%;
}
div.content2 {
  position: absolute;
  min-width: 260px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  overflow-y: auto;
  transition: width 1200ms ease, left 1200ms ease;
  left: 50%;
}
div.content3 {
  position: absolute;
  min-width: 260px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  overflow-y: auto;
  transition: width 1200ms ease, left 1200ms ease;
  left: 75%;
}
div.content_menu_spacer {
  height: 49px;
}
transition {
  width: 200ms ease, left 200ms ease;
  display: none;
}
div.headspacer {
  width: 100%;
  height: 49px;
}
div.content_menu_spacer {
  height: 55px;
}
.search {
  height: 49px;
  border-bottom: 1px solid #999999;
  text-align: center;
}
.listitem {
  height: 49px;
  padding: 0 5px;
  background: linear-gradient(#ffffff, #f2f2f2);
  border-bottom: 1px solid #999999;
  text-align: center;
}
.li_head {
  margin: 5px;
  font-size: 2em;
  float: left;
  color: #999999;
}
.li_content {
  margin: 5px;
  float: left;
  text-align: left;
}
.li_secondline {
  color: #999999;
}
.listitem:hover {
  background: #ffffff;
}
li:hover {
  background: #ffffff;
}
.racerdetail {
  height: 149px;
  border-bottom: 1px solid #999999;
}
.racerpic {
  height: 120px;
  width: 120px;
  margin: 15px;
  float: left;
  overflow: hidden;
  border-radius: 60px;
}
.racerpic img {
  height: 120px;
  margin-left: -10px;
}
.racer_number {
  margin: 5px;
  font-size: 2em;
  float: left;
  color: #999999;
}
