/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/



@c1: #FFFFFF;
@degrade: @c1 / 10;
@c2: @c1 - @degrade;
@c3: @c2 - @degrade;
@c4: @c3 - @degrade;
@c5: @c4 - @degrade;
@c6: @c5 - @degrade;
@c7: @c6 - @degrade;
@c8: @c7 - @degrade;
@c9: @c8 - @degrade;
@c10: #000000;

@c_pos: #71C671;
@c_neg: red;

@g1: #f7f7f7;

@font: 12pt 'Open Sans', sans-serif, Helvetica, ;

@border: 1px solid @c5;

@line-height: 44px;
@tile-height: 149px;
@letter-spacing: 1px;

/* ****** gianfett temporary ******* */

// Fonts
h1 {
    color: @c1;
    text-align: center;
    padding: 0px 15px;
    background-color: @c9;
    text-transform: uppercase;   
    font-style: @font;
}

h1.sub {color: @c3; text-transform: none; font-size: 0.6em;}

//main structure

html, body{
    height: 100%;
    background-color: lighten(@c2, 6%);
    font-style: @font;
}

li {
    height: 44px;
    width: 100%;
    border-bottom: 1px solid @c2;
    clear: both;
    position: relative;
}

.top_content_wrapper{
    height: 66px;
    text-align: center;
    text-transform: uppercase;
}

.top_content_wrapper.registration{
    height: 132px;
}

.top_content_wrapper.registration > div{
    height: 99px;
    position: relative;
    top: 22px;
}

.top_info_wrapper {
    height: 44px;
    margin: 0 15px;
    position: relative;
    top: 9.5px;
    text-transform: none;
}

.bottom_content_wrapper{
    margin: 0 15px 0 15px ;
}

//top_info structure

.left_info, .right_info, {
    height: 44px;
    width: 44px;
}

.left_info{
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
}
    
.left_info > img {
    height: 44px;
    }   
    

.middle_info {
    height: 44px;
    margin: 0px 84px 0 44px;
    padding: 0 15px;
    text-align: left;
}

.right_info {
    position: absolute;
    right: 0px;
    top: 5px;
}

.middle_info p.title {
  padding-bottom: 2px;
  font-size: 1.2em;
  color: @c9;
  letter-spacing: @letter-spacing;
}

.middle_info p.description{
    font-size: 1em;
    color: @c4;
}

.middle_info .rider_city_country {
  color: @c4;
  font-size: 1em;
}

.middle_info .title, .middle_info .description{
 overflow: hidden;
 white-space:nowrap;
 text-overflow: ellipsis;
}


.right_info .rider_number {
  font-size: 3em;
  font-weight: lighter;
  color: @c4;
  float: right;
  display: block;
  letter-spacing: @letter-spacing;
  margin-top: -6px;
}

//Tables

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

th {
    height: 44px;
}

th, tr {
   line-height: @line-height;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: @c1;
}

th, td {
    text-align: center;
    padding: 0 4px;
}

td, th {
    background-position: center center;
    background-repeat: no-repeat;
}

th{
&.task_manifest{
background-image: url(../../icons/document127.png);
background-size: 24px;
}
&.task_pickup{
background-image: url(../../icons/upload62.png);
background-size: 30px;
}
&.task_parcel{
background-image: url(../../icons/close13.png);
background-size: 30px;
}
&.task_drop{
background-image: url(../../icons/download87.png);
background-size: 29px;
}
&.task_restrictions{
background-image: url(../../icons/one8.png);
background-size: 30px;
min-width: 40px;
}
&.task_number{
background-image: url(../../icons/icomoon1.png);
background-size: 25px;
min-width: 25px;
}
&.task_pickup_time{
background-image: url(../../icons/hourglass1.png);
background-size: 22px;
}
&.task_drop_time{
background-image: url(../../icons/sand1.png);
background-size: 22px;
}
&.manifest_points{
   background-image: url(../../icons/coins16.png); 
   background-size: 30px;
}
&.manifest_description {
   background-image: url(../../icons/information33.png);
   background-size: 20px;
}
&.manifest_edit {
   width: 44px;
}
&.manifest_configure {
   width: 44px;
}
&.manifest_delete {
   width: 44px;
}
}

td{
&.task_confirmation{
background-image: url(../../icons/up64.png);
background-size: 26px;
color: @c1;
font-weight: bold;
width: 88px;
&.checked{
background-color: @c_pos;
}
&.unchecked{
background-color: @c_neg;
}
}
&.task_status, &.manifest_status{
    width: 44px;
}
&.task_status.task_completed{
   background-image: url(../../icons/check26.png);
   background-size: 24px;
   background-color: @c_pos;
}
&.task_status.task_assigned, &.manifest_status.manifest_assigned {
   background-image: url(../../icons/attach1.png);
   background-size: 24px;
   background-color: red;
}

&.task_status.task_pickedup, &.manifest_status.manifest_pickedup{
   background-image: url(../../icons/delivery39.png);
   background-size: 24px;
    background-color: yellow;
}

&.task_status.task_completed, &.manifest_status.manifest_completed{
   background-image: url(../../icons/check26.png);
   background-size: 24px;
   background-color: @c_pos;
}
&.manifest_edit {
   background-image: url(../../icons/pencil44.png);
   background-size: 20px;
 
}
&.manifest_configure {
   background-image: url(../../icons/settings39.png);
   background-size: 20px;

}
&.manifest_delete {
   background-image: url(../../icons/delete30.png);
   background-size: 32px;
}
}

div.indicator_pos{
    background-color: @c_pos;
    color: @c1;
    border-radius: 20px;
}

// Main Navigation
#main_navigation .left_info{
margin-left: 5px;
background-repeat: no-repeat;
background-position: center center;
border-radius: 0;
}
.racer_list_navigation{
background-image: url(../../icons/cyclist.png);
}

.configure_race_navigation{
background-image: url(../../icons/gear1.png);
}

.configure_parcel_navigation{
background-image: url(../../icons/close13.png);
}

.checkpoint_list_navigation{
background-image: url(../../icons/information33.png);
}

.user_list_navigation{
background-image: url(../../icons/call37.png);
background-size: 35px;
}

li{
padding: 5px 0;
}

#main_navigation .right_info{
background-image: url(../../icons/play45.png);
background-repeat: no-repeat;
background-position: center center;
background-size: 15px; 
}

// Racer Registration

.top_content_wrapper.registration > div > div.left_info {
    height: 99px;
    width: 99px;
 }
    
body > div > div.top_content_wrapper.registration > div > div.left_info > div > div > img{
    height: 64px;
    margin-top: 12px;
    }

.top_content_wrapper.registration > div > div.right_info {
    float: left;
    margin-left: 35px;
 }


input {
    display: block;
    font-size: 16px;
    line-height: normal;
    border-bottom: 1px solid @c10;
    width: 100%;
    padding: 15px 0px;
    color: black;
    background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="submit"], .new_button {
   color: @c1;
   margin: 15px 0 15px 0;
   border-radius: 5px;
   border: none;
   background-color: #71C671;
   text-transform: uppercase;
}

input[type="search"] {
   -webkit-appearance: none;
   border: 1px solid @c2;
   border-radius: 5px;
   padding: 15px 3px;
   line-height: normal;
   height: 44px;
}

.select_status, .select_racernumber, .select_manifestnumber{
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    color: @c3;
}

.new_button {
color: @c1;
   margin-top: 15px;
   border-radius: 5px;
   border: none;
   background-color: #71C671;
   text-transform: uppercase;
   }

input[type="file"]{ // Photo Upload
display: block;
width: 88px;
height: 99px;
margin: 0;
position: relative;
top: 10px;
padding-left: 5px;
} 

.photo_upload {
z-index:1; 
width: 99px; 
height: 99px; 
pointer-events: none; 
position:absolute; 
top:0;
overflow: hidden;
border: 1px dashed @c5;
border-radius: 50px;
background-color: lighten(@c2, 6%);
}

//Rider Task List

.rider_task_list {
    padding: 0 15px;
    background-color: @g1;
}

#riderlist li{
    padding: 5.5px 0;
    border-bottom: 1px solid @c2;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;
}

#riderlist li:first-child{
    border-top: 1px solid @c2;
}

#riderlist .left_info {
    margin-left: 5px;
    }

#riderlist .right_info {
    float: right;
    margin-right: 5px;
}

// Tasklist

#tasklist{
    .middle_info{
        padding-left: 0;
        .title{
            background-image: url(../../icons/pencil44.png);
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 70px;
            
        }
    }
}
        

// Checkpoint Rider Task List

p.racer_checkpointlist_heading, p.racer_tasklist_heading{
display: inline-block;
width: 100%;
font-weight: bold;
border-bottom: 2px solid #ccc;
padding: 5px 0;
}

// Task Detail

#manifest_detail, #manifest_edit {
.manifest_number{
color: @c1;
font-size: 24px;
font-weight: bold;
background-color: @c10;
display: block;
width: 44px;
height: 44px;
padding-top: 4px;
}
.manifest_name{
font-weight: bold;
}
.right_info{
text-align: left;
width: 100px;
.manifest_points{
background-image: url(../../icons/coins16.png);
background-size: 16px;
background-repeat: no-repeat;
padding-left: 25px;

}
.manifest_maxduration{
background-image: url(../../icons/time21.png);
background-size: 16px;
background-repeat: no-repeat;
padding-left: 25px;
}
}
}


/* End of gianfett CSS */


.menubuttons {color: @c3; min-width:@line-height; height: @line-height;
    border-right: @border; border-left: @border; cursor: default;}
p {margin: 0em;}
body html {width:100%; height: 100%;}
body {margin: 0px; font: @font; color: @c9;}
a.ohne {color: @c8; text-decoration: none;}

.menu {position:fixed; width: 100%; top:0px;
 transition: top 300ms ease-out; z-index: 100;}
.menu.menu_unfold {top:0px !important;}

.header {position:fixed; width: 100%; top:0px; z-index: 100;
height:@line-height; background: @c9; 
border-bottom: @border; text-align:center;}

div.title {padding: 5px 25px;}
div.but_back {.menubuttons; float:left; font-size: 1.5em; line-height: 1.5em;}
div.but_menu {.menubuttons; float:right; font-size: 1em;}
.headertitle {display:inline;}

@colw: 100%;
.content {position:absolute; min-width: 260px; width: @colw; height: 100%;
    border-left: @border; border-right: @border; overflow-y: auto;
    transition: width 200ms ease, left 200ms ease;} 

div.content0 {.content; left: 0%;}
div.content1 {.content; left: 25%;}
div.content2 {.content; left: 50%;}
div.content3 {.content; left: 75%;}
div.content_menu_spacer {height: @line-height;}


transition  {width: 200ms ease, left 200ms ease; display: none;}

.show() {display: block;}
div.headspacer {width: @colw; height: @line-height;}
div.content_menu_spacer {height: 55px;}




.search { height:@line-height; border-bottom: @border; text-align:center;}

.list {}
.listitem {height:@line-height; padding: 0 5px; background: linear-gradient(@c1, @c1 - @degrade/2); 
border-bottom: @border; text-align:center;}
.li_head {margin: 5px; font-size: 2em; float:left; color: @c5}
.li_content {margin: 5px; float:left; text-align: left;}
.li_firstline {}
.li_secondline {color: @c5;}
.listitem:hover {background: @c1;}

.racerdetail {height: @tile-height; border-bottom: @border; }
.racerpic {height: 120px; width: 120px; margin: 15px; float: left; overflow: hidden; border-radius: 60px;}
.racerpic img {height: 120px; margin-left: -10px;}
.racer_number {.li_head;}

