/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/



@c1: #FFFFFF;
@degrade: @c1 / 10;
@c2: @c1 - @degrade;
@c3: @c2 - @degrade;
@c4: @c3 - @degrade;
@c5: @c4 - @degrade;
@c6: @c5 - @degrade;
@c7: @c6 - @degrade;
@c8: @c7 - @degrade;
@c9: @c8 - @degrade;
@c10: #000000;

@g1: #f7f7f7;

@font: 12pt Helvetica, sans-serif;

@border: 1px solid @c5;

@line-height: 44px;
@tile-height: 149px;
@letter-spacing: 1px;

//main structure

.clear {
    clear: both;
}

<<<<<<< HEAD
html, body{
    height: 100%;
    background-color: @g1;
}

=======
/* gianfett temporary */
>>>>>>> FETCH_HEAD
.content_tab {
}

h1 {
    color: @c1;
<<<<<<< HEAD
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    background-color: @c9;
    text-transform: uppercase;   
}

.top_content_wrapper{
    height: 66px;
    background-color: @g1;
=======
    text-align: center;
    text-transform: uppercase;
}

h1.sub {color: @c3; text-transform: none; font-size: 0.6em;}

#registration {
    background-color: @c1;
    width: 100%;
>>>>>>> FETCH_HEAD
}

.top_info_wrapper {
    height: 44px;
    margin: 0 15px;
    position: relative;
    top: 9.5px;
}

.bottom_content_wrapper{
    margin: 0 15px 0 15px ;
}


//top_info structure

.left_info {
    height: 44px;
    width: 44px;
    overflow: hidden;
    border-radius: 50px;
    float: left;
}

.left_info > img {
    height: 44px;
    }

.middle_info {
    float: left;
    margin: 0px 15px;
}

.right_info {
    float: right;
    display: block;
}

.middle_info .rider_name {
  padding-bottom: 5px; 
  font-size: 18px;
  color: @c5;
  letter-spacing: @letter-spacing;
}

.middle_info .rider_city_country {
  color: @c3;
  font-size: 14px;
}

.right_info .rider_number {
  font-size: 35px;
  color: @c5;
  float: right;
  display: block;
  letter-spacing: @letter-spacing;
}

//bottom_info structure

.rider_task_list {
    padding: 0 15px;
    background-color: @g1;
}

// registration input

input {
    display: block;
    font-size: 14px;
    line-height: normal;
    border-bottom: 1px solid @c10;
    width: 100%;
    padding: 15px 0px;
    color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="submit"] {
  color: @c1;
   margin-top: 15px;
   border-radius: 5px;
   border: none;
   background-color: #71C671;
   text-transform: uppercase;
}

input[type="search"] {
   -webkit-appearance: none;
   border: 1px solid @c2;
   border-radius: 5px;
   padding: 15px 3px;
   line-height: normal;
   height: 44px;
}

::-webkit-input-placeholder {
   padding-left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
  padding-left: 5px; 
}

:-ms-input-placeholder {  
   padding-left: 5px;  
}



// tables

.bottom_rider_tasks > table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

th {
    height: 44px;
}

th, tr {
   line-height: @line-height;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: @c1;
 
}

th, td {
    text-align: center;
    padding: 0 4px;
}



td {
    background-repeat: no-repeat;
    background-position: center center;
}


th.task_number {
   background-image: url(../../icons/tasks.png);
      background-size: 25px;
}

th.task_name {
   background-image: url(../../icons/close13.png); 
   background-size: 20px;
}

th.task_description {
   background-image: url(../../icons/information33.png);
   background-size: 16px;
}

td.task_number, td.task_name{
    color: @c6;
}

td.task_description{
    color: @c4;
}

td.task_number{
    width: 32px;
}

td.task_status{
    width: 44px;
}

td.task_status.task_assigned{
   background-image: url(../../icons/attach1.png);
   background-size: 24px;
}

td.task_status.task_pickedup{
   background-image: url(../../icons/delivery39.png);
   background-size: 24px;
}

td.task_status.task_completed{
   background-image: url(../../icons/check26.png);
   background-size: 24px;
}









.menubuttons {color: @c8; min-width:@line-height; height: @line-height;
    border-right: @border; border-left: @border; cursor: default;}
p {margin: 0em;}
body html {width:100%; height: 100%;}
body {margin: 0px; font: @font; color: @c9;}
a.ohne {color: @c8; text-decoration: none;}

.menu {position:fixed; width: 100%; top:0px;
 transition: top 300ms ease-out; z-index: 100;}
.menu.menu_unfold {top:0px !important;}

.header {position:fixed; width: 100%; top:0px; z-index: 100;
height:@line-height; background: @c9; 
border-bottom: @border; text-align:center;}

div.title {padding: 10px 25px;}
div.but_back {.menubuttons; float:left; color: @c3; font-size: 1.5em; line-height: 1.5em;}
div.but_menu {.menubuttons; float:right; font-size: 2em;}
.headertitle {display:inline;}

.content {position:absolute; min-width: 260px; width: @colw; height: 100%;
    border-left: @border; border-right: @border; overflow-y: auto;
<<<<<<< HEAD

    transition: width 200ms ease, left 200ms ease;} 
div.content0 {.content; left: 0%;}
div.content0.drilldown {left: -100%;}
div.content1 {.content; left: 100%;}
div.content1.drilldown {left: 0%;}
div.content2 {.content; left: 200%;}
div.content2.drilldown {left: 100%;}
div.content_menu_spacer {height: @line-height;}


transition  {width: 200ms ease, left 200ms ease; display: none;}
=======
    transition: width 200ms ease, left 200ms ease; display: none;}
>>>>>>> FETCH_HEAD
.show() {display: block;}
@colw: 100%;
div.headspacer {width: @colw; height: @line-height;}
div.content0.drilldown0 {.content; .show; left: 0%;}
div.content0.drilldown1 {.content; left: -@colw;}
div.content0.drilldown2 {.content; left: -2*@colw;}
div.content0.drilldown3 {.content; left: -3*@colw;}
div.content1.drilldown0 {.content; left: @colw;}
div.content1.drilldown1 {.content; .show; left: 0%;}
div.content1.drilldown2 {.content; left: -@colw;}
div.content1.drilldown3 {.content; left: -2*@colw;}
div.content2.drilldown0 {.content; left: 2*@colw;}
div.content2.drilldown1 {.content; left: @colw;}
div.content2.drilldown2 {.content; .show; left: 0%;}
div.content2.drilldown3 {.content; left: -@colw;}
div.content3.drilldown0 {.content; left: 3*@colw;}
div.content3.drilldown1 {.content; left: 2*@colw;}
div.content3.drilldown2 {.content; left: @colw;}
div.content3.drilldown3 {.content; .show; left: 0%;}
div.content_menu_spacer {height: 55px;}
<<<<<<< HEAD

=======
>>>>>>> FETCH_HEAD

.search { height:@line-height; border-bottom: @border; text-align:center;}

.list {}
.listitem {height:@line-height; padding: 0 5px; background: linear-gradient(@c1, @c1 - @degrade/2); 
border-bottom: @border; text-align:center;}
.li_head {margin: 5px; font-size: 2em; float:left; color: @c5}
.li_content {margin: 5px; float:left; text-align: left;}
.li_firstline {}
.li_secondline {color: @c5;}
.listitem:hover {background: @c1;}

.racerdetail {height: @tile-height; border-bottom: @border; }
.racerpic {height: 120px; width: 120px; margin: 15px; float: left; overflow: hidden; border-radius: 60px;}
.racerpic img {height: 120px; margin-left: -10px;}
.racer_number {.li_head;}

@media only screen and (min-width: 560px){
    @colw: 50%;
    .content {width: @colw;}
    div.headspacer {width: @colw; height: @line-height;}
    div.content0.drilldown0 {.content; .show; left: 0%;}
    div.content0.drilldown1 {.content; .show; left: 0%;}
    div.content0.drilldown2 {.content; left: -@colw;}
    div.content0.drilldown3 {.content; left: -2*@colw;}
    div.content1.drilldown0 {.content; .show; left: @colw;}
    div.content1.drilldown1 {.content; .show; left: @colw;}
    div.content1.drilldown2 {.content; .show; left: 0%;}
    div.content1.drilldown3 {.content; left: -@colw;}
    div.content2.drilldown0 {.content; left: 2*@colw;}
    div.content2.drilldown1 {.content; left: 2*@colw;}
    div.content2.drilldown2 {.content; .show; left: @colw;}
    div.content2.drilldown3 {.content; .show; left: 0%;}
    div.content3.drilldown0 {.content; left: 3*@colw;}
    div.content3.drilldown1 {.content; left: 3*@colw;}
    div.content3.drilldown2 {.content; left: 2*@colw;}
    div.content3.drilldown3 {.content; .show; left: @colw;}
}

@media only screen and (min-width: 840px){
    @colw: 33%;
    .content {width: @colw;}
    div.headspacer {width: @colw; height: @line-height;}
    div.content0.drilldown0 {.content; .show; left: 0%;}
    div.content0.drilldown1 {.content; .show; left: 0%;}
    div.content0.drilldown2 {.content; .show; left: 0%;}
    div.content0.drilldown3 {.content; left: -@colw;}
    div.content1.drilldown0 {.content; .show; left: @colw;}
    div.content1.drilldown1 {.content; .show; left: @colw;}
    div.content1.drilldown2 {.content; .show; left: @colw;}
    div.content1.drilldown3 {.content; .show; left: 0%;}
    div.content2.drilldown0 {.content; left: 2*@colw;}
    div.content2.drilldown1 {.content; left: 2*@colw;}
    div.content2.drilldown2 {.content; left: 2*@colw;}
    div.content2.drilldown3 {.content; .show; left: @colw;}
    div.content3.drilldown0 {.content; left: 3*@colw;}
    div.content3.drilldown1 {.content; left: 3*@colw;}
    div.content3.drilldown2 {.content; left: 3*@colw;}
    div.content3.drilldown3 {.content; left: 2*@colw;}
}

@media only screen and (min-width: 1040px){
    @colw: 25%;
    .content {display: block; width: @colw;}
    div.headspacer {width: @colw; height: @line-height;}
    div.content0.drilldown0 {.content; left: 0%;}
    div.content0.drilldown1 {.content; left: 0%;}
    div.content0.drilldown2 {.content; left: 0%;}
    div.content0.drilldown3 {.content; left: 0%;}
    div.content1.drilldown0 {.content; left: @colw;}
    div.content1.drilldown1 {.content; left: @colw;}
    div.content1.drilldown2 {.content; left: @colw;}
    div.content1.drilldown3 {.content; left: @colw;}
    div.content2.drilldown0 {.content; left: 2*@colw;}
    div.content2.drilldown1 {.content; left: 2*@colw;}
    div.content2.drilldown2 {.content; left: 2*@colw;}
    div.content2.drilldown3 {.content; left: 2*@colw;}
    div.content3.drilldown0 {.content; left: 3*@colw;}
    div.content3.drilldown1 {.content; left: 3*@colw;}
    div.content3.drilldown2 {.content; left: 3*@colw;}
    div.content3.drilldown3 {.content; left: 3*@colw;}
}



