/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/

// Icon Fonts
@font-face {
	font-family: 'icomoon';
	src:url('../../icons/icomoon/fonts/icomoon.eot?77g9ef');
	src:url('../../icons/icomoon/fonts/icomoon.eot?#iefix77g9ef') format('embedded-opentype'),
		url('../../icons/icomoon/fonts/icomoon.woff?77g9ef') format('woff'),
		url('../../icons/icomoon/fonts/icomoon.ttf?77g9ef') format('truetype'),
		url('../../icons/icomoon/fonts/icomoon.svg?77g9ef#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Less variables

// White to black colors
@c1: #FFFFFF;
@degrade: @c1 / 10;
@c2: @c1 - @degrade;
@c3: @c2 - @degrade;
@c4: @c3 - @degrade;
@c5: @c4 - @degrade;
@c6: @c5 - @degrade;
@c7: @c6 - @degrade;
@c8: @c7 - @degrade;
@c9: @c8 - @degrade;
@c10: #000000;

//main background color
@main_bgcolor:  lighten(@c2, 7%);

// status indicator colors
@c_pos: #71C671; // ok
@c_neg: red; // impossible or not ok
@c_neutral: yellow; // to do

// save button colors
@g1: #71C671; //for Save Buttons
@g2: lighten(@g1, 7%); // for active Save Buttons

@font: 12pt 'Open Sans', Helvetica, sans-serif, ;

@border: 1px solid @c5;
@list_border: 1px solid @c2;

@line-height: 49px;
@line-height-ranking: 49px;
@line-height-top-content: 66px;

@line-height-detail: 88px;
@line-height-detail-inner: 66px;

@line-height-edit: 132px;
@line-height-edit-inner: 99px;

@tile-height: 149px;
@letter-spacing: 1px;

/* ****** gianfett temporary ******* */

//img

img{
    width: 100%;
}

// Fonts
h1 {
    color: @c1;
    text-align: center;
    padding: 0px 15px;
    background-color: @c9;
    text-transform: uppercase;   
    font-style: @font;
}

h1.sub {color: @c3; text-transform: none; font-size: 0.6em;}

//main structure

html, body{
    height: 100%;
    background: @main_bgcolor;
    font-style: @font;
}

li {
    width: 100%;
    clear: both;
    position: relative;
}

.listwrapper{
    margin: 0 15px;
    border-bottom: 1px solid black;
    border-bottom: @list_border;
    padding: 5px 0;
    height: @line-height;
}

.listwrapper:last-child{
    border-bottom: @list_border;
}

.confirm li:hover{
    background-color: @main_bgcolor;
}

.confirm .listwrapper{
    height: auto;
    min-height: @line-height-top-content;
    border:none;
    margin: 7px 0 0 0;
}
    
.top_content_wrapper{
    height: @line-height-top-content;
    text-align: center;
    text-transform: uppercase;
}

.top_info_wrapper {
    height: @line-height;
    margin: 0 15px;
    position: relative;
    top: 9.5px;
    text-transform: none;
}

.bottom_content_wrapper{
    margin: 0 15px 0 15px ;
}

//information structure

p.racer_checkpointlist_heading, p.racer_tasklist_heading, .confirm_heading, .heading{
display: inline-block;
width: 100%;
font-weight: bold;
border-bottom: 2px solid #ccc;
padding: 5px 0;
}

.confirm {
    .left_info{
        height: @line-height-detail-inner; 
        width: @line-height-detail-inner; 
        &.parcel_name{
            border-radius: 5px;
        }
        .manifest_number{
                    height: @line-height-detail-inner; 
                    width: @line-height-detail-inner; 
                    padding-top: 20px !important;
                    color: @c1;
                    font-size: 1em;
                    font-weight: bold;
                    background-color: @c3;
                    display: block;
                    text-align: center;
                    padding-top: 12px;
        }        
    }
    .middle_info{
        margin-left: @line-height-detail-inner;
        height: auto;
    }
    .right_info:after{
        display: none;
    }
}


.left_info, .right_info, {
    height: @line-height;
    width: @line-height;
}
.left_info{
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
}  
.left_info > img {
    width: 100%;
    margin-top: -6px;
    }   
    

.middle_info {
    height: @line-height;
    margin: 0px 45px 0 @line-height;
    padding: 0 10px;
    text-align: left;
      .manifest_points{
        display: inline-block;
        margin-right: 15px;
        width: 50px;
            &:after{
                    content: "\e601";
                    font-size: 14px;
                    font-family: 'icomoon';
                    color: @c5;
                    margin-left: 5px;
                    }
    }
    .manifest_maxduration{
        display: inline-block;
        width: 80px;
        text-align: right;
        &:after{
            content: "\e606";
            font-size: 13px;
            font-family: 'icomoon';
            color: @c5;
            margin-left: 5px;
                    }
        }
}

.middle_info p.title {
  font-size: 1.2em;
  color: @c9;
  letter-spacing: @letter-spacing;
}

.middle_info p.description{
    font-size: 1em;
    color: @c4;
}
.confirm .middle_info p.description{
    white-space: normal;
}

.middle_info p.title, .middle_info p.description{
 overflow: hidden;
 white-space:nowrap;
 text-overflow: ellipsis;
}

.right_info {
    position: absolute;
    right: 30px;
    top: 5px;
    &:after{
    content: "\e60f";
    font-family: 'icomoon';
    color: @c5;
    font-size: 26px;
    position: absolute;
    top: 15px;
    right: -22px;
}
}

.top_info_wrapper .right_info:after{
    display: none;
}

.right_info .rider_number {
  font-size: 3em;
  font-weight: lighter;
  color: @c4;
  float: right;
  display: block;
  letter-spacing: @letter-spacing;
  margin-top: -8px;
}

// Buttons and Input Fields

.new_button {
   color: @c1;
   margin: 15px;
   border-radius: 5px;
   border: none;
   background-color: #71C671;
   text-transform: uppercase;
   padding: 15px 0;
   text-align: center;
 }



input {
    display: block;
    font-size: 16px;
    line-height: normal;
    border-bottom: 1px solid @c10;
    width: 100%;
    padding: 15px 0px;
    color: black;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="submit"]{
   color: @c1;
   margin: 15px auto;
   border-radius: 5px;
   border: none;
   background-color: @g1;
   text-transform: uppercase;
   width: 93%;
   &:active, &:hover{
      background-color: @g2;
      box-shadow: 0 0 1px 1px @c3;
   }
}
    
input[name="login"]{
   margin: 15px 0;
   width: 100%;
}

input[type="search"] {
   -webkit-appearance: none;
   border: 1px solid @c2;
   border-radius: 5px;
   padding: 15px 3px;
   line-height: normal;
   height: @line-height;
}

.select_status, .select_racernumber, .select_manifestnumber{
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    color: @c3;
}

input[type="file"]{ // Photo Upload
display: block;
width: 88px;
height: 99px;
margin: 0;
position: relative;
top: 10px;
padding-left: 5px;
} 

// Photo Upload
.photo_upload {
z-index:1; 
width: 99px; 
height: 99px; 
pointer-events: none; 
position:absolute; 
top:0;
overflow: hidden;
border: 1px dashed @c5;
border-radius: 50px;
background-color: lighten(@c2, 6%);
}

//Tables

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

#manifest_detail table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

tr {
   background-repeat: no-repeat;
   background-position: center center;
   background-color: @c1;
   &.tableheader{
   background-color: @main_bgcolor;
   }
}

th, td {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    height: @line-height;
}

th{
    background-color: @main_bgcolor;
    vertical-align: middle;
    color: @c6;
    font-family: 'icomoon'; 
    font-size: 1em;
    vertical-align: middle;
&.task_manifest{
background-image: url(../../icons/document127.png);
background-size: 24px;
}
&.checkpoint_name_first:before{
    content: "\e604";
}
&.parcel_name:before{
    content: "\e602";
}
&.checkpoint_name_second:before{
    content: "\e603";
}
&.task_status.task_completed{
background-color: @c_pos;
}

&.task_status.task_possible{
background-color: @c_neutral;
}

&.task_status.task_notpossible{
background-color: @c_neg;
}

&.task_number:before{
    content: "\e600";
    font-family: 'icomoon';
}
&.manifest_points{
   background-image: url(../../icons/coins16.png); 
   background-size: 30px;
}
&.manifest_description {
   background-image: url(../../icons/information33.png);
   background-size: 20px;
}
&.manifest_edit {
   width: @line-height;
}
&.manifest_configure {
   width: @line-height;
}
&.manifest_delete {
   width: @line-height;
}
}

td{   
&.drilldown:after{
    content: "\e60f";
    font-family: 'icomoon';
    color: @c5;
    vertical-align: middle;
    font-size: 1.8em;
}
    
&.manifest_edit {
   background-image: url(../../icons/pencil44.png);
   background-size: 20px;
 
}
&.manifest_configure {
   background-image: url(../../icons/settings39.png);
   background-size: 20px;

}
&.manifest_delete {
   background-image: url(../../icons/delete30.png);
   background-size: 32px;
}
}

.indicator {
    color: @c1;
}

tr.no_action {
    color: @c5;
}

div.indicator_pos{
    .indicator;
    background-color: @c_pos;   
    height: 49px;
}

div.indicator_current{
    .indicator;
    color: @g1;
}

// Main Navigation

.navigation_icon{
    font-family: 'icomoon';
    color: @c6;
    font-size: 0.8em;
    margin-right: 15px;
}

.menu_list{
    font-size: 1.7em; 
    color: @c5; 
    text-align: left;
    line-height: @line-height;
    &:after{
        content: "\e60f";
        font-family: 'icomoon';
        color: @c5;
        vertical-align: middle;
        font-size: 1em;
        position: absolute;
        right: 0;
        top: 8px;
}
    &.racer:before{
        .navigation_icon;
        content: "\e609";
        color: #E78927;
        }
    &.race:before{
        .navigation_icon;
        content: "\e600";
        color: #8555DC;
        }

    &.ranking:before{
        .navigation_icon;
        content: "\e608";
        color: #166D3A;
        }
    &.parcel:before{
        .navigation_icon;
        content: "\e602";
        color: #ECC816; 
        }
    &.checkpoint:before{
        .navigation_icon;
        content: "\e60b";
        color: #5B99BB;
        }
    &.user:before{
        .navigation_icon;
        content: "\e605";
        color: #ECC816;
        }
     &.stockExchangeDispatch:before{
        .navigation_icon;
        content: "\e600";
        color: #4CA6D0;
        }
    &.racerTask:before{
        .navigation_icon;
        content: "\e60a";
        color: #ECC816;
        }
}



//Racer Ranking Overview

span.racer_ranking{
    margin-right: 12px;
    color: @c5;
    float: left;
    width: 34px;
    &:after{
    content: "\e608";
    font-family: 'icomoon';
    margin-left: 5px;
    font-size: 13px;
}
}

span.racer_points {
    color: @c4;
    text-align: right;
    float: left;
    width: 60px;   
    &:after{
    content: "\e601";
    font-family: 'icomoon';
    margin-left: 5px;
    font-size: 13px;
}
}

// Detail Pages

.top_content_wrapper.detail{
    height: @line-height-detail;
.top_info_wrapper, .right_info{
    height: @line-height-detail-inner; 
    right: 0;
    .rider_number{
        font-size: 4em;
        margin-top: -12px;
    }
}
img{
    margin-top: -6px;
    }
.left_info{
height: @line-height-detail-inner; 
width: @line-height-detail-inner; 
.manifest_number{
font-size: 1em;
width: @line-height-detail-inner;
height: @line-height-detail-inner;
text-align: center;
padding-top: 20px;
}
}
.middle_info{
height: @line-height; 
margin-left: @line-height-detail-inner;
}
.middle_info.racer_ranking_points{
    height: @line-height/2;
    color: @c5;  
}
}



// Tasklist

#tasklist{
    .middle_info{
        padding-left: 0;
        .title{
            background-image: url(../../icons/pencil44.png);
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 70px;
            
        }
    }
}


// Racer Registration

#raceredit_racer, #parceledit_parcel{
    .top_content_wrapper.registration{
    height: @line-height-edit;
    .top_info_wrapper{
    height: @line-height-edit-inner;
    position: relative;
    top: 22px;
     .left_info {
    height: @line-height-edit-inner;
    width: @line-height-edit-inner;
    }
     .middle_info {
    margin: 0 84px 0 @line-height-edit-inner;
    }
.right_info {
    float: left;
}
}  
}
}
#parceledit_parcel{
    .left_info{
        border-radius: 5px;
.photo_upload{
    border-radius: 5px;
}
}
}

        
// Racer Task List on Checkpoints

#racertask_racertask{
    th{
        height: @line-height/2;
    }
tr{
    height: @line-height;
    &.tableheader {
        height: 29px;
        font-size: 1.2em;
    }
    td{
        vertical-align: middle;
        &.drilldown{
            background-color: @g1;
            color: @c1;
            text-align: left;
            padding: 5px;
        &:after{
            color: @c1;
            margin-right: -20px;
            line-height: 1.8em;
        }
        }
        &.action{
            font-size: 1em;
            color: @c1;
            background-color: @g1;
            text-align: right;
            padding-left: 5px;
        }
        &.goto_arrow:after{
            content: "\e60f";
            font-family: 'icomoon';
            vertical-align: middle;
        }
        &.spacer{
           width: 10px;
        }
        &.task_number {
            overflow: hidden;
            color: @c1;
            font-weight: bold;
            width: @line-height;
            height: @line-height;
            .task_number_bubble {
                background-color: @c3;
                border-radius: 50px;
                height: @line-height;
                width: @line-height;
                margin: 5px;
                .task_number_number{
                    position: relative;
                    top: 12px;
                }
                }
        }
        &.parcel_name{
            div{
            width: @line-height;
            height: @line-height;
            overflow: hidden;
            vertical-align: middle;
            border-radius: 5px;
            }
            img{
                width: 100%;
                margin-top: -4px;
            }
        }
    }
}
}


// Manifest List

.manifest_number{
    color: @c1;
    font-size: 1em;
    font-weight: bold;
    background-color: @c3;
    display: block;
    width: @line-height;
    height: @line-height;
    text-align: center;
    padding-top: 12px;
&.manifest_completed{
    background-color: @c_pos;
}
&.manifest_possible{
    background-color: @c_neutral;
    color: @c8;
}
&.manifest_unreachable{
    background-color: @c_neg;
}
}

// Ranking Detail
#ranking_rankingdetail{
    .middle_info{
        margin-right: @line-height-edit-inner;
        &.racer_ranking_points > p{
            width: 120px;
        }
    }
    .right_info{
        text-align: right; 
        width: 90px;
.manifest_points:after{
    .manifest_counts;
    content: "\e601";
}
.manifest_maxduration:after{
    .manifest_counts;
    content: "\e606";
}
}
}

.manifest_counts{
    font-family: 'icomoon';
    color: @c5;
    margin-left: 6px;
    font-size: 0.8em;
}

// Parcel List
#parcelList{
    .left_info{
        border-radius: 5px;
    }
}    
    

//  Task Detail

#ranking_taskdetail, #taskedit_race{
.right_info{
    width: @line-height-edit-inner;
    text-align: right;
    .manifest_points:after{
        font-family: 'icomoon';
        color: #999;
        margin-left: 6px;
        font-size: 0.8em;
        content: "\e601";
}
.manifest_maxduration:after{
        font-family: 'icomoon';
        color: #999;
        margin-left: 6px;
        font-size: 0.8em;
        content: "\e606";
}
}


// ????
ul{
    margin: 10px 0 40px 0;
li{
padding: 5px 0;
border-bottom: none;
background-color: @c1;
.right_info{
    background-color: @c_pos;
    margin-right: 5px;
p:before{
 content: "\e60a";
    font-family: 'icomoon';
    color: @c1;
    font-size: 2em;
    position: absolute;
    top: 8px;
    left: 20px;
}
}
}
}
}
//????

p.racer_checkpointlist_heading.manifest_detail_heading{
margin-bottom: 10px;
}

#ranking_taskdetail table{
width: 100%;
margin-bottom: 10px;
border: 1px solid #ccc;
border-spacing: 0;
th.task_status{
width: 5%;
}

th.task_number{
width: 15%;
}

th.checkpoint_name_first, th.checkpoint_name_second{
width: 25%;
}

th.parcel_name{
width: 49px;
}

th.goto_arrow{
width: 10%;
}

th, td{
text-align: left;
vertical-align: middle;
padding: 2px 0;
}

th.task_requirements{
color: red;
padding-left: 15px;
background-color: @main_bgcolor;
opacity: 0.5;
}

th.task_requirements.no_requirements{
color: #000;
}


th.task_status.task_completed{
background-color: @c_pos;
}

th.task_status.task_possible{
background-color: @c_neutral;
}


th.task_status.task_unreachable{
background-color: @c_neg;
}

td.task_number{
font-size: 2em;
color: #CCC;
padding-left: 15px;
}

td.checkpoint_name_first, td.checkpoint_name_second{
text-align: left;
}
}



/* End of gianfett CSS */


.menubuttons {color: @c3; min-width:@line-height; height: @line-height;
    border-right: @border; border-left: @border; cursor: default;}
p {margin: 0em;}
body html {width:100%; height: 100%;}
body {margin: 0px; font: @font; color: @c9;}
a.ohne {color: @c8; text-decoration: none;}

.menu {position:fixed; width: 100%; top:0px;
 transition: top 300ms ease-out; z-index: 100;}
.menu.menu_unfold {top:0px !important;}

.header {position:fixed; width: 100%; top:0px; z-index: 100;
height:@line-height; background: @c9; 
border-bottom: @border; text-align:center;}

div.title {padding: 5px 25px;}
div.but_back {.menubuttons; float:left; font-size: 1.8em; line-height: 1.5em;}
div.but_menu {.menubuttons; float:right; font-size: 1em; line-height: 1.2em;}
.headertitle {display:inline;}

@colw: 100%;
.content {position:absolute; min-width: 260px; width: @colw; height: 100%;
    border-left: @border; border-right: @border; overflow-y: auto;
    transition: width 200ms ease, left 200ms ease;} 

div.content0 {.content; left: 0%;}
div.content1 {.content; left: 25%;}
div.content2 {.content; left: 50%;}
div.content3 {.content; left: 75%;}
div.content4 {.content; left: 100%;}
div.content_menu_spacer {height: @line-height;}


transition  {width: 200ms ease, left 200ms ease; display: none;}

.show() {display: block;}
div.headspacer {width: @colw; height: @line-height;}
div.content_menu_spacer {height: 55px;}




.search { height:@line-height; border-bottom: @border; text-align:center;}

.list {}
.listitem {background: linear-gradient(@c1, @c1 - @degrade/2); 
border-bottom: @border; text-align:center;}
.li_head {margin: 5px; font-size: 2em; float:left; color: @c5}
.li_content {margin: 5px; float:left; text-align: left;}
.li_firstline {}
.li_secondline {color: @c5;}
.listitem:hover {background: @c1;}
li:hover {background: @c1;}

.racerdetail {height: @tile-height; border-bottom: @border; }
.racerpic {height: 120px; width: 120px; margin: 15px; float: left; overflow: hidden; border-radius: 60px;}
.racerpic img {height: 120px; margin-left: -10px;}
.racer_number {.li_head;}

