.jb_listitem {
  background: linear-gradient(#ffffff, #f2f2f2);
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.race_icon {
  padding: 5px;
  border-bottom: 1px solid #FFF;
  height: 49px;
  width: 49px;
  background: #999;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.date {
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 1em;
}

.day {
  font-size: 25pt;
  font-weight: 100;
  color: #ddd;
}

.month {
  font-size: 5pt;
  text-transform: uppercase;
  font-weight: bold;
}

.year {
  font-size: 8pt;
  letter-spacing: 2px;
}

.list_content {
  display: -webkit-flex;
  display: flex;
  padding: 5px;
  text-align: left;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: flex-start;
  flex: 1 auto;
}

.menu_wrapper {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  position:absolute; min-width: 280px;
  height:0px;
  right:0px;
  transition: height 400ms cubic-bezier(0.7, 1.5, 0.7, 0.85);
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

div.content0, div.content1, div.content2, div.content3, div.content4 {
  min-width: 260px;
  width: 100%;
  overflow-y: auto;
  transition: width 200ms ease, left 200ms ease;
  -webkit-overflow-scrolling: touch;
  -webkit-flex: 1;
  flex: 1;
}

.cnt {
  position: relative;
  height: auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
}

td.label {
  color: #666;
  text-align: left;
  padding: 5px;
}
td.inputSelect {
  text-align: left;
}

input {
  font-size: 1.2em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.2em;
  margin-right: 10px;
  padding: 5px 35px 5px 5px;
  height: 40px;
  -webkit-flex: 1;
  flex: 1;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
div.selectWrap {
  display: -webkit-flex;
  display: flex;
  position: relative;
}
select:focus {
  background: #eee;
}
div.selectWrap::after {
  content: "\25BC";
  color: #999999;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 1.2em;
  top: 50%; margin-top: -.5em;
  position: absolute;
}
