.jb_listitem {
  background: linear-gradient(#ffffff, #f2f2f2);
  border-bottom: 1px solid #999999;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.race_icon {
  padding: 5px;
  height: 49px;
  width: 49px;
  flex: start;
  background: #999;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.date {
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 1em;
}

.day {
  font-size: 25pt;
  font-weight: 100;
  color: #ddd;
}

.month {
  font-size: 5pt;
  text-transform: uppercase;
  font-weight: bold;
}

.year {
  font-size: 8pt;
  letter-spacing: 2px;
}

.list_content {
  padding: 5px;
  text-align: left;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.menu_wrapper {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  position:absolute; min-width: 280px;
  height:0px;
  right:0px;
  transition: height 400ms cubic-bezier(0.7, 1.5, 0.7, 0.85);
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

div.content0, div.content1, div.content2, div.content3, div.content4 {
  position: relative;
  min-width: 260px;
  width: 100%;
  height: auto;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  overflow-y: auto;
  transition: width 200ms ease, left 200ms ease;
  -webkit-overflow-scrolling: touch;
  -webkit-flex: 1;
  flex: 1;
}

.cnt {
  position: relative;
  height: auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
}
